#features {
  @include apply-main-container;
  display: flex;
  gap: 25px;
  justify-content: space-around;
  padding: 75px 0;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    text-align: center;

    i {
      color: $secondary-color;
      font-size: 2.5rem;
    }
  }
}
