.testimonials {
  @include apply-main-container;
  padding: 75px 0;
  text-align: center;

  .wrapper {
    display: flex;
    gap: 30px;
    margin-top: 35px;

    div {
      width: 33%;
    }

    img {
      max-height: 120px;
      border-radius: 60px;
    }

    h5 {
      padding: 7px;
    }

    p {
      font-size: 0.7rem;
    }
  }
}
